/* stylelint-disable @stylistic/max-line-length */
.section-hero
{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: $spacing_40;
  padding-top: $spacing_128;
  padding-bottom: $spacing_64;

  @include responsive(small_desktop)
  {
    flex-direction: row;
    padding-top: $spacing_160;
  }
}

.section-hero__container
{
  display: flex;
  flex-direction: column;
  gap: $spacing_40;
  width: 100%;

  @include responsive(phone)
  {
    align-items: flex-start;
  }

  @include responsive(small_desktop)
  {
    width: 50%;
  }
}

.section-hero__title
{
  font-size: $h3;
  line-height: 1;
  letter-spacing: -$spacing_1;
  @include responsive(phone)
  {
    font-size: $h1;
  }

  @include responsive(tablet)
  {
    font-size: $xs !important;
  }

  @include responsive(desktop)
  {
    font-size: $xl !important;
  }

  @include font_weight(extra_bold);
}

.section-hero__container-title
{
  display: flex;
  flex-direction: column;
  gap: $spacing_20;
}

.section-hero__description
{
  line-height: 1.5;
  @include responsive(tablet)
  {
    font-size: $h5;
  }
}

.section-hero__container-button
{
  display: flex;
  flex-direction: column;
  gap: $spacing_56;
}

.section-hero__container-arrow
{
  position: relative;
  display: flex;
  gap: $spacing_32;
  align-items: center;
  width: 100%;
}

.section-hero__arrow
{
  width: $spacing_160;
}

.section-hero__text-arrow
{
  position: relative;
  top: -$spacing_12;
  transform: rotate(-5deg);
  padding: $spacing_8 $spacing_24;
  font-size: $sm;
  color: $primary_900;
  text-align: center;
  background-color: $primary_100;
  border-radius: $rounded_max;
  box-shadow: $shadow_down_black_300;

  &::before
  {
    content: '';
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    border-color: transparent $primary_100 transparent transparent;
    border-style: solid;
    border-width: $spacing_12 $spacing_16 $spacing_12 0;
    border-radius: $spacing_4;
  }
}

.section-hero__container-image
{
  position: relative;
  width: 100%;
  max-width: 70rem;
  margin: auto;
  margin-top: $spacing_64;

  &::before
  {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55rem;
    height: 55rem;
    background: radial-gradient(100% 100% at 50% 50%, rgba($primary_500, 0.5) 0, rgba($primary_500, 0.1) 40%, rgba($white, 0) 50%);
    @include responsive(tablet)
    {
      width: 75rem;
      height: 75rem;
    }
  }
  @include responsive(small_desktop)
  {
    max-width: 50rem;
    margin-top: 0;
  }

  @include responsive(desktop)
  {
    max-width: 60rem;
  }
}

.section-hero__image
{
  aspect-ratio: 257/282;
  margin: auto;
}

.section-hero__icon
{
  position: absolute;
  top: 0;
  left: 0;
  width: $spacing_96;
  height: $spacing_96;
  margin-top: -$spacing_56;
  fill: transparent;
  @include responsive(small_tablet)
  {
    width: $spacing_128;
    height: $spacing_128;
  }
}

.section-hero__container-rating
{
  position: absolute;
  z-index: $z_10;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: $spacing_4;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: $spacing_16 0;
  background-color: $gray_50;
  border-radius: $rounded_medium;
  box-shadow: $shadow_down_black_400;
}

.section-hero__star
{
  fill: $warning_400;
  @include responsive(desktop)
  {
    width: $spacing_44;
    height: $spacing_44;
  }
}

.section-hero__text-rating
{
  font-size: $sm;
  @include responsive(desktop)
  {
    font-size: $h6;
  }
}

.section-hero__underline
{
  position: absolute;
  z-index: -1;
  bottom: -$spacing_64;
  left: 50%;
  transform: translateX(-50%);
  width: 35rem;
  opacity: 0.3;
  @include responsive(desktop)
  {
    bottom: -$spacing_80;
    width: 55rem;
  }
}